doctype html
html
  head
    title= title
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css', rel='stylesheet')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header.navbar.navbar-fixed-top.navbar-inverse
      div.container
        a#logo(href="/") ToDo List
        nav
          ul.nav.navbar-nav.navbar-right
            li
              a(href="/newtask") Add a Task
    div.container
      block content
