extends layout

block content
  h1 What's up for today?
  div.center
    form(name="addtask",method="post",action="/addtask")
      input.form-control.newtodo(type="text", placeholder="task", name="task")
      button.btn.btn-primary(type="submit") submit
