extends layout

block content
  h1 What's up for today?
  form.center(name="addtask",method="post",action="/addtask")
    input(type="text", placeholder="task", name="task")
    button(type="submit") submit
