extends layout

block content
  unless todolist == ""
    h1 Tasks For Today!
    ul.todos
      each todo, i in todolist
        li.todo
        if todo.checked == "on"
          div.row
            div.col-xs-12.col-sm-6.col-md-8
              form(name="updatetask", method="post", action="/updatetask")
                input.check(type="checkbox" name="checked" checked id=""+i onChange="this.form.submit()")
                label.task(for=""+i style="text-decoration: line-through") #{todo.task}
                input(type="text" name="task" value=""+todo.task hidden onChange="this.form.submit()")
            div.col-xs-6.col-md-4
              form(name="deletetask", method="post", action="/deletetask")
                input(type="text" name="task" value=""+todo.task hidden)
                input.btn.btn-primary.delete(type="button" name="del" value="Delete Task" onClick="this.form.submit()")
        else 
          div.row
            div.col-xs-12.col-sm-6.col-md-8
              form(name="updatetask", method="post", action="/updatetask")
                input.check(type="checkbox" name="checked" id=""+i onChange="this.form.submit()")
                label.task(for=""+i) #{todo.task}
                input(type="text" name="task" value=""+todo.task hidden onChange="this.form.submit()")
            div.col-xs-6.col-md-4
              form(name="deletetask", method="post", action="/deletetask")
                input(type="text" name="task" value=""+todo.task hidden)
                input.btn.btn-primary.delete(type="button" name="del" value="Delete Task" onClick="this.form.submit()")
  else
    h1 No Tasks!
    div.center
      h6 (Yippiee!)
      a.btn.btn-primary(href="/newtask") Add a Task
