extends layout

block content
  unless todolist == ""
    h1 Tasks For Today!
    ul.todos
      each todo, i in todolist
        form(name="updatetask", method="post", action="/updatetask")
          li.todo
          if todo.checked == "on"
            input.check(type="checkbox" name=""+todo.task checked id=""+i onChange="this.form.submit()")
            label.task(for=""+i style="text-decoration: line-through") #{todo.task}
            input(type="text" name="task" value=""+todo.task hidden onChange="this.form.submit()")
          else 
            input.check(type="checkbox" name="checked" id=""+i onChange="this.form.submit()")
            label.task(for=""+i) #{todo.task}
            input(type="text" name="task" value=""+todo.task hidden onChange="this.form.submit()")
  else
    p No Tasks Yet!
    a(href="/newtask") Add a Task
