/*body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}*/

/* universal */
body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

/* tasks */
.newtodo {
  width: 20em;
  margin: 0 auto 2em;
}
.todos {
  margin: auto;
  list-style: none;
}
.todo {
  padding-top: 1em;
}
.check {
  transform: scale(2);
}
.task {
  font-size: 2em;
  padding-left: 1em;
  margin: -1em 0em 0em 1em;
  word-wrap: break-word;
  word-break: break-word;
}
.delete {
  margin: 0em 0em 0em 3em;
  float: right;
}
